div.Homepage{
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 56vw;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-attachment: fixed;
    margin-top: -5vw;
}

.containerSkills{
    margin-left: 3.9vw;
}
.containerSkills ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 76vw;
}
.containerSkills li{
    text-align: center;
    width: 14.375vw;
    height: 14.375vw;
    background-color: #EDD1E0;
    border-radius: 50%;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
}
.containerExperiences ul{
    list-style-type: none;
    display: flex;
    margin-left: 4vw;
    flex-direction: column;
}
.containerExperiences li{
    width: 70vw;
    height: 13.25vw;
    background-color: #EDD1E0;
    color: #052D48;
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    margin-bottom: 3vw;
    padding-right: 3vw;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.2vw;
    display: inline-flex;
    line-height: 1.9vw;
}
#experiencesImageShape{
    background-color: #EFEFF0;
    border-radius: 47%;
    width: 10vw;
    height: 13.5vw;
    display: flex;
    padding-right: 2vw;
}
#experiencesImage{
    max-width: 10vw;
}
.containerProjects{
    width: 91vw;
    display: flex;
    justify-content: center;
    margin-left: -1vw;
}
.containerProjects li{
    text-align: center;
    width: 17.32vw;
    height: 22.45vw;
    background-color: #EDD1E0;
    border-radius: 4vw;
    margin-right: 3vw;
    padding-top: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: sans-serif;
    font-size: 1.4vw;
    letter-spacing: 0.2vw;
    color: #052D48;
    font-weight: bold;

}
.containerProjects ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#projectDescription{
    font-family: sans-serif;
    background-color: #F7EBF2;
    margin: 1vw;
    color: #052D48;
    font-size: 1.04vw;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 1.5vw;
    padding: 0.7vw 1vw;
}
h1{
   font-family: Courier, monospace;
   font-weight: bolder;
   font-size: 4.16vw;
   text-align: center;
   position: absolute;
   left: 30%;
   top: 37%;
   color: #052D48;
}
h3{
    font-family: Courier, monospace;
    font-weight: normal;
    font-style: oblique;
    color: #052D48;
    font-size: 1.3vw;
    position: absolute;
    top: 56%;

}
#Contact{
    position: absolute;
    top: 67%;
}
#icon{
    width: 3.33vw;
}
.skillIcon{
    max-height: 10.7vw;
    max-width: 10.7vw;
    align-self: center;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    z-index: 5;
}
.skillIcon:hover{
    opacity: 0;
}
.skillsText{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2vw;
    color: #052D48;
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    z-index: 2;
    word-wrap: normal;
    width: 10.7vw;
    align-self: center;
}
.skillIcon:hover ~ .skillsText{
    opacity: 1;
}
div.line{
    border: 0.2vw solid #052D48;
    width: 29.375vw;
    display: inline-block;
    position: absolute;
    left: 35.3%;
    top: 53.8%;
}
.navbar{
    overflow: hidden;
    background-color:none;
    height: 5vw;
    line-height: 5vw;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    transition: background-color 0.25s ease-out;
}

.nava{
    position: absolute;
    font-size: 2.08vw;
    font-weight: 500;
    color: #EAEFF2;
    text-decoration: none;
    font-family: sans-serif;
    opacity: 0.7;
}
.nava:hover{
    opacity: 1;
}
.navb{
    font-size: 1.56vw;
    position: absolute;
    color: #EAEFF2;
    text-decoration: none;
    font-family: sans-serif;
    opacity: 0.7;
}
.navb:hover{
    opacity: 1;
}
div.webbie{
    background-color: #EFEFF0;
    background-size: cover;
    width: 96%;
    margin: 0px;
    padding-bottom: 5vw;
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding-left: 4vw;
}
#headshot{
    height: 27.92vw;
    padding-top: 3vw;
}
#info{
    width: 20vw;
    letter-spacing: 0.045vw;
    display: block;
}

p{
    font-family: sans-serif;
    color: #052D48;
    position: absolute;
    left: 29.5%;
    font-size: 1.8vw;
    line-height: 2.3vw;
    overflow-wrap: normal;
    padding-right: 9vw;
}
h2{
    width: 90.26vw;
    height: 2.86vw;
    background-color: #9A7197;
    color: #EAEFF2;
    font-family: sans-serif;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 1.7vw;
    font-weight: normal;
    line-height: 3vw;
    margin-top: 6vw;
    margin-bottom: 3.5vw;
    margin-left: 0.5vw;
}
div{
    margin: 0;
}
body{
    margin: 0;
}
footer p{
    font-size: 1vw;
    color: #052D48;
    font-family: sans-serif;
    letter-spacing: 0.25vw;
    margin-left: 10vw;
}